seaborn
altair
plotly
plotnine
rpy2
pandas
scipy
scikit-learn
wordcloud
cufflinks
kaleido
sqlalchemy_utils
ipywidgets_jsonschema
ipyfilechooser
appdirs
markdown
jupyter-ai
openai
langchain-openai
openai-chat
python-dotenv
groq
notebook-intelligence
nbgitpuller
